torch==2.3.0+cpu
torchvision==0.18.0+cpu
torchaudio==2.3.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

opencv-python-headless
PyYAML
tqdm
thop
matplotlib
uvicorn
fastapi
pydantic
python-dotenv
requests
